.header {
  border-bottom: 1px solid #868383;
  padding: 20px;
  background-color: #000;
}

.header__title {
  color: rgb(224, 211, 19);
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 520px) {
  .header__title {
    font-size: 18px;
  }
}
