.anime-list {
  background-color: #000;
  list-style-type: none;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, fit-content(400px));
  grid-template-rows: repeat(auto-fit, fit-content(400px));
  grid-gap: 30px 24px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  align-items: center;
  margin: 0 auto;
}

.anime-list__more-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.anime-list__more-button-container_type_none {
  display: none;
}

.anime-list__more-button {
  width: 320px;
  height: 36px;
  margin-bottom: 0 auto 80px;
  background-color: #556443;
  color: rgb(224, 211, 19);
  border-radius: 6px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  cursor: pointer;
}

.anime-list__more-button:hover {
  box-shadow: 0px 0px 20px rgb(216, 216, 226);
}

@media screen and (max-width: 1279px) {
  .anime-list {
    grid-template-columns: repeat(2, 364px);
  }
}

@media screen and (max-width: 900px) {
  .anime-list {
    grid-template-columns: repeat(2, 339px);
  }
}

@media screen and (max-width: 767px) {
  .anime-list {
    grid-template-columns: repeat(1, 300px);
    padding-right: 10px;
    padding-left: 10px;
  }

  .anime-list__more-button {
    margin: 0 0 80px;
    width: 240px;
  }
}
